extends layout
block content
    body(style="background-image: url('https://cdn.pixabay.com/photo/2016/11/18/23/04/garage-1837338__340.jpg');  background-size: cover;")
        header.card-header
            h4.card-title(style="color:black;  background: white; margin: 0 450px; padding:10px 0;") Expenses Report
        br
        nav
        #nav-tab.nav.nav-tabs.navbar-dark.bg-light(role='tablist' style="margin:0 170px; background-color: #e3f2fd;")
            a#nav-profile-tab.nav-item.nav-link(href='/dashboard' style="color:black;") Washer Payout
            a#nav-contact-tab.nav-item.nav-link.active(href='/dashboard/expenses-report')  Expense Report
            a#nav-contact-tab.nav-item.nav-link(href='/dashboard/collection' style="color:black;")  Collection Report
            a#nav-profile-tab.nav-item.nav-link(href='/dashboard/washerDetails' style="color:black;") Washer Details
            a#nav-profile-tab.nav-item.nav-link(href='/dashboard/parked' style="color:black;") Vehicles In Bay
        #nav-tabContent.tab-content
        br

        form.search(action='/dashboard/expenses-report')
            div.form-row
                div.col-md-6
                    input.form-control(style="width:45%; margin-left:50%;" type="date" name="searchdate" value=defaultDate)
                div.col-md-6
                    input.btn.btn-primary.btn-block(style="width:60%;" type="submit")
        br
        .container(style='padding-top: 20px;')
        
            .row
                .col
                    table.table.table-bordered(style='background-color: white;') 
                        thead.thead-dark(style='background-color: black; color: white;')
                            tr
                                th Date of Entry
                                th Item
                                th Amount
                                
                        tbody
                        if expenses.length
                            each expense in expenses
                                tr
                                    td #{moment(expense.date).format('DD-MM-YYYY')}
                                    td #{expense.item}
                                    td #{expense.price}
                            tr
                                th(colspan=2) Total Expenses
                                td #{new Intl.NumberFormat().format(total.totalExpense)}
